# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# =========================
# Jupyter Notebook
# =========================

.ipynb_checkpoints/

# =========================
# Python / Jupyter cache
# =========================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# Environment / secrets
# =========================

.env
.env.*
!.env.example